<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Transactional.Properties.Settings.DefaultConnection"
            connectionString="Data Source=HNGUYEN-L8;Initial Catalog=MyProject;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
        <add name="Transactional.Properties.Settings.CuztomizeItConnectionString"
            connectionString="Data Source=HNGUYEN-L8;Initial Catalog=MyProject;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>