@model List<MyProject.Models.ViewModels.AppSettingViewModel>

@{
    ViewBag.Title = "Application Setting";
}



<div class="row">
    <div class="large-12 columns">
        <h3>@ViewBag.Title</h3>
        @foreach (var appSetting in Model)
        {
            <div class="large-3 small-6 columns">
                <div><span><b>Code:</b>@appSetting.Code</span></div>
                <a>@Html.ActionLink(@appSetting.Description, "EditAppSetting", "AppSetting", new {id = appSetting.Id}, "")</a>
            </div>
        }
    </div>
</div>
