@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    @Html.Partial("_Authenticated")
}
else
{


    <ul class="top-bar-items right">
        <li>@Html.ActionLink("Trang chủ", "Index", "Home", routeValues: null, htmlAttributes: new { id = "homeLink" })</li>
@*        <li>@Html.ActionLink("Đăng ký", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>*@
        <li>@Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
    </ul>
}
