@model MyProject.Models.ViewModels.SaleStatViewModel

@{
    ViewBag.Title = "Sales Statistics";
}

<script src="/Scripts/jquery-2.2.0.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        $("#periodsale").change(function () {
            var selectedPeriod = $('option:selected', this).text();
            if (selectedPeriod != '') {
                // Perform the ajax post
                $.post("/SaleStats/QuickSummaryByPeriod", { "period": selectedPeriod },
                    function (data) {
                        $('#num-order-placed').text(data.NumberOfOrderPlaced);
                        $('#num-items-sold').text(data.NumberOfItemSold);
                        $('#total-sale').text(data.TotalSale);
                        $('#estimated-profit').text(data.EstimatedProfit);
                        $('#total-received').text(data.TotalReceived);
                        $('#actual-profit').text(data.ActualProfit);
                        $('#total-fee').text(data.Fee);
                    });
            }
        }
        );

        $("#periodfinance").change(function () {
            var selectedPeriod = $('option:selected', this).text();
            if (selectedPeriod != '') {
                // Perform the ajax post
                $.post("/SaleStats/QuickFinanceStatistic", { "period": selectedPeriod },
                    function (data) {
                        $('#f-total-sale').text(data.TotalSale);
                        $('#f-revenue').text(data.Revenue);
                        $('#f-expense').text(data.Expense);
                        $('#f-bank').text(data.Bank);
                        $('#f-fee').text(data.Fee);
                    });
            }
        }
        );
    })

</script>
<div>
    <fieldset>
        <h4>Sales Quick Summary</h4>
        <div>
            <div class="large-8 columns">
                @Html.LabelFor(m => m.AvailPeriods)
                @Html.DropDownListFor(m => m.SelectedPeriod, Model.AvailPeriods, new { style = "width: 160px", @id = "periodsale" })
            </div>

            <div class="large-8 columns">
                Number of order placed: <span id="num-order-placed" style="color: #dc143c"></span>
                <p></p>
                Number of items sold: <span id="num-items-sold" style="color: #dc143c"></span>
                <p></p>
                Total Sale (in USD): <span id="total-sale" style="color: #dc143c"></span>
                <p></p>
                Total Fee (in USD): <span id="total-fee" style="color: #dc143c"></span>
                <p></p>
                <span style="background-color: #00ff00">Total Received (in USD): <span id="total-received" style="color: #dc143c"></span></span>
                <p></p>
                ========================
                <br/>
                Est Profit (in USD): <span id="estimated-profit" style="color: #dc143c"></span>
                <p></p>
                <span style="background-color: #00ff00">Actual Profit (in USD): <span id="actual-profit" style="color: #dc143c"></span> </span>
            </div>
        </div>
    </fieldset>


    <fieldset>
        <h4>Finance Quick Summary</h4>
        <div>
            <div class="large-8 columns">
                @Html.LabelFor(m => m.AvailPeriods)
                @Html.DropDownListFor(m => m.SelectedPeriod, Model.AvailPeriods, new { style = "width: 160px", @id = "periodfinance" })
            </div>

            <div class="large-8 columns">
                Sale: <span id="f-total-sale" style="color: #dc143c"></span>
                <p></p>
                Fee: <span id="f-fee" style="color: #dc143c"></span>
                <p></p>
                <span style="background-color: #00ff00">Revenue: <span id="f-revenue" style="color: #dc143c"></span></span>
                <p></p>
                Expense: <span id="f-expense" style="color: #dc143c"></span>
                <p></p>
                <span style="background-color: #00ff00">Bank: <span id="f-bank" style="color: #dc143c"></span></span>
                <p></p>
            </div>
        </div>
    </fieldset>
</div>
